.html{
  scroll-behavior: smooth;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg3);
  width: 1280px;
  height: 390px;
}
.risk-assurance,
.start-up-services {
  position: absolute;
  top: 184px;
  left: 40px;
  line-height: 150%;
  font-weight: 600;
}
.risk-assurance {
  left: 872px;
}
.we-support-entrepreneurs {
  position: absolute;
  top: 222px;
  left: 40px;
  font-size: var(--paragraph-size);
  line-height: 150%;
  color: var(--black);
  display: inline-block;
  width: 368px;
}
.finance-accounting,
.we-provide-our {
  position: absolute;
  left: 0;
  line-height: 150%;
}
.finance-accounting {
  top: 0;
  font-weight: 600;
}
.we-provide-our {
  top: 38px;
  font-size: var(--paragraph-size);
  color: var(--black);
  display: inline-block;
  width: 368px;
}
.finance-accounting-parent {
  position: absolute;
  top: 184px;
  left: 456px;
  width: 368px;
  height: 110px;
}
.we-offer-risk {
  position: absolute;
  top: 222px;
  left: 872px;
  font-size: var(--paragraph-size);
  line-height: 150%;
  color: var(--black);
  display: inline-block;
  width: 368px;
}
.section-2-child,
.section-2-item {
  position: absolute;
  top: 96px;
  left: 40px;
  border-radius: 50%;
  background-color: var(--turqoise);
  width: 64px;
  height: 64px;
}
.section-2-item {
  left: 456px;
}
.group-icon,
.vector-icon {
  position: absolute;
  top: 108px;
  left: 57.26px;
  width: 29.48px;
  height: 40px;
}
.vector-icon {
  top: 111px;
  left: 471px;
  width: 34px;
  height: 34px;
}
.group-icon1,
.section-2-inner {
  position: absolute;
  top: 96px;
  left: 872px;
  width: 64px;
  height: 64px;
}
.group-icon1 {
  top: 111px;
  left: 889.25px;
  width: 29.5px;
  height: 34px;
}
.bg-icon,
.section-2 {
  position: absolute;
  top: 768px;
  left: 0;
  width: 1280px;
  height: 390px;
}
.bg-icon {
  top: 0;
  height: 656px;
  object-fit: cover;
}
.take-the-right,
.tax-associate-is {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 120%;
  display: inline-block;
  width: 560px;
}
.tax-associate-is {
  top: 158px;
  font-size: var(--paragraph-size);
  line-height: 150%;
  width: 440px;
}
.enquire-now {
  position: relative;
  line-height: 140%;
}
.button,
.button1 {
  display: flex;
  flex-direction: row;
}
.button1 {
  border-radius: var(--br-5xl);
  background-color: var(--turqoise);
  height: 40px;
  padding: var(--padding-2xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button {
  position: absolute;
  top: 262px;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--pt-size);
}
.take-the-right-step-for-your-b-parent {
  position: absolute;
  top: 178px;
  left: 40px;
  width: 560px;
  height: 302px;
}
.apply-for-tax {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.span {
  font-family: var(--font-fontawesome);
}
.button2 {
  position: absolute;
  top: 341px;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--tax-dark-blue);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}
.i-have-read {
  position: absolute;
  top: 0;
  left: 28px;
  line-height: 150%;
  display: inline-block;
  width: 284px;
}
.checkbox-selected {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-11xs);
  width: 20px;
  height: 20px;
}
.group-child,
.group-wrapper,
.i-have-read-agreed-to-the-au-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 42px;
}
.group-child,
.group-wrapper {
  top: 267px;
}
.group-child {
  top: 24px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 314px;
}
.email-id {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.group-inner,
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 89px;
  left: 0;
  width: 312px;
  height: 65px;
}
.group-inner,
.rectangle-group {
  top: 178px;
}
.group-inner {
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 314px;
  height: 42px;
}
.name-parent,
.rectangle-wrapper {
  position: absolute;
  top: 25px;
  left: 0;
  width: 312px;
  height: 40px;
}
.name-parent {
  top: 0;
  height: 65px;
}
.button-parent {
  position: relative;
  width: 312px;
  height: 381px;
  font-size: var(--pt-size);
  color: var(--black);
}
.try-our-free-tax-calculator {
  position: absolute;
  top: 83px;
  left: 875px;
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-6xl);
  color: var(--tax-dark-blue);
}
.bg1,
.section-13 {
  position: absolute;
  left: 0;
  width: 1280px;
}
.section-13 {
  top: 112px;
  height: 656px;
  font-size: var(--h1-size);
  color: var(--white);
}
.bg1 {
  top: 0;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  height: 72px;
}
.header-child {
  position: absolute;
  top: 18px;
  left: 40px;
  width: 32.02px;
  height: 36px;
}
.about-us,
.home,
.services {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
}
.about-us,
.services {
  left: 80px;
}
.about-us {
  left: 177px;
}
.apply-for-tax1,
.blog,
.contact,
.order-company {
  position: absolute;
  top: 0;
  left: 279px;
  line-height: 140%;
}
.apply-for-tax1,
.blog,
.contact {
  left: 424px;
}
.blog,
.contact {
  left: 602px;
}
.contact {
  left: 672px;
}
.home-parent {
  position: relative;
  width: 725px;
  height: 20px;
}
.menu {
  position: absolute;
  top: 26px;
  left: 515px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bg2,
.header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 1280px;
  height: 72px;
}
.bg2 {
  top: 0;
  background-color: var(--dark-blue);
  height: 40px;
}
.span2 {
  font-family: var(--font-ibm-plex-sans);
}
.contactsampleie {
  color: var(--color-linen);
  font-size: var(--font-size-xs);
  font-family: var(--pt);
}
.contactsampleie-container {
  position: absolute;
  top: 9px;
  left: 40px;
  line-height: 150%;
}
.top-nav-bar-child1 {
  position: absolute;
  top: 8px;
  left: 1085px;
  width: 120px;
  height: 24px;
}
.top-nav-bar-child2 {
  position: absolute;
  top: 8px;
  left: 1135px;
  width: 120px;
  height: 24px;
}
.top-nav-bar-child3 {
  position: absolute;
  top: 8px;
  left: 1183px;
  width: 120px;
  height: 24px;
}
.header-parent,
.top-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
}
.top-nav-bar {
  height: 40px;
  color: var(--turqoise);
  font-family: var(--font-fontawesome);
}
.header-parent {
  height: 112px;
  font-size: var(--pt-size);
  color: var(--black);
}
.terms-conditions {
  text-decoration: underline;
  color: #00a5df;
}
.try-our-free-tax-calculator1 {
  position: absolute;
  top: 195px;
  left: 875px;
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-6xl);
  color: var(--tax-dark-blue);
}
.design {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1158px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h6-size);
  color: var(--dark-blue);
  font-family: var(--pt);
}
.navlinks1{
  padding-top: 1.2rem;
}
.navlinks1 li{
  display: inline-block;
  margin: 0 15px;
}
.navlinks1 li a{
  display: flex;
  text-decoration: none;
  color: rgb(81, 80, 80);
  padding: 1px 0;
  position: relative;
}
.navlinks1 li a::after{
  content: '';
  background: #000000;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0s;
}

.navlinks1 li a:hover::after{
  width: 100%;
}